{% extends "base.html" %}

{% block title %}{{benchmark_name}} Latency Report{% endblock %}

{% block header %}{{benchmark_name}} Latency Report{% endblock %}

{% block subtitle %}
  Subject: {{metadata.get("subject_name")}}
  {{help_icon("overview", "white-text", True)}}
{% endblock %}

{% block content %}
  <div class="container">

    <!-- Info and Metadata Section -->
    <ul class="collection" style="margin-top: 1em;">
      <li class="collection-item">
        <strong>Benchmark Name:</strong> {{benchmark_name}}
      </li>
      {% for key, value in metadata.items() %}
        <li class="collection-item"><strong>{{key}}:</strong> {{value}}</li>
      {% endfor %}
      <li class="collection-item">
        <strong>Links:</strong>
        {% for title, url in link_list %}
          <a href="{{url}}">{{title | capitalize}}</a>
          {% if not loop.last %} | {% endif %}
        {% endfor %}
      </li>
      {% if error %}
      <li class="collection-item">
        <strong>Error:</strong> {{error}}
      </li>
      {% endif %}
    </ul>

    <!-- Results Section -->
    <h2 class="blue-text text-darken-2">Results</h2>

    <!-- Overview Histograms -->
    <div class="row">
      {% for series_name, series_info in measurements.series_infos.iteritems() %}
        {{ plotcard(id = "histogram",
                    src = "%s/%s_histogram" % (data_dir, series_name),
                    title = series_name,
                    subtitle = hist_subtitle(series_info, measurements.SummarizeValues(series_name)),
                    centered = True) }}
      {% endfor %}
    </div>
    <!-- Overview Trace -->
    <div class="row">
      {{ plotcard(id = "trace",
                  src = "%s/trace_overview" % (data_dir),
                  title = "Trace Overview") }}
    </div>

    <h2 class="blue-text text-darken-2" style="position: relative;">
      Measurements {{ help_icon("measurements", "grey-text text-lighten-3") }}
    </h2>

    <!-- Tabs -->
    {% if measurements|count > 1 %}
      <div class="row">
        <div class="col s12">
          <ul class="tabs z-depth-1">
            {% for pass_num in measurements %}
              <li class="tab col">
                <a href="#pass_{{pass_num}}">Pass {{pass_num}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>

  <!-- For each pass -->
  {% for pass_num, pass_msrmnts in measurements.iteritems() %}
    {% set pass_path = "%s/pass_%d" % (data_dir, pass_num) %}

    <div id="pass_{{pass_num}}">

      <div class="container">
        <div class="row">
          <!-- Optional Pass Histograms -->
          {% if measurements|count > 1 %}
            {% for series in pass_msrmnts.values() %}
              {{ plotcard(id = "histogram",
                          src = "%s_%s_histogram" % (pass_path, series.series_name),
                          title = series.series_name,
                          subtitle = hist_subtitle(measurements.series_infos[series.series_name], series.values),
                          centered = True) }}
            {% endfor %}
          {% endif %}

          <!-- Pass Trace -->
          {{ plotcard(id = "pass_trace",
                      src = "%s_trace" % (pass_path),
                      title = "Pass %d Measurements" % pass_num) }}
        </div>
      </div>

      <!-- Pass Measurement Details -->
      <div class="section blue darken-2 z-depth-1">
        <div class="container">
          <h4 class="white-text" style="position: relative;">
            Measurement Details
            {{ help_icon("measurements_details", "blue-text text-lighten-2") }}
          </h4>
        </div>
      </div>

      <table class="responsive-table striped centered" style="table-layout: fixed;">
        <thead>
          <th style="width: 10em;"></th>
          <th>Input Event</th>
          <th>Output Event (Draw Start)</th>
          <th>Output Event (Draw End)</th>
        </thead>

        <tbody>
          {% for series in pass_msrmnts.values() %}
          {% for msrmnt in series %}
            {% if series.type_name == "DrawEventLatencySeries" %}
            <tr>
              <!-- Heading -->
              <th>{{series.series_name}} #{{loop.index}}</th>

              {% macro detail(src, time, delta, type) %}
              <td>
                <div class="card">
                  <div class="card-image">
                    <img src="{{src}}.png"
                         onmouseover="this.src='{{src}}_prev.png'"
                         onmouseout="this.src='{{src}}.png'" />
                  </div>
                    <div class="card-table">
                      <table>
                        <tr>
                          <td><strong>&delta;T =</strong> {{delta | FormatTime}}</td>
                          <td><strong>T =</strong> {{time | FormatTime}}</td>
                          <td><strong>Type =</strong> {{type}}</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </td>
              {% endmacro %}

              <!-- Input Event -->
              {{ detail("%s/%s_%d_%d_input" % (data_dir, series.series_name, pass_num, loop.index - 1),
                        msrmnt.input_event.uncalib_time,
                        msrmnt.input_event.uncalib_time - msrmnt.input_event.time,
                        msrmnt.input_event.EVENT_TYPE_NAME) }}

              <!-- Optional Output Start Draw Event -->
              {% if msrmnt.output_event.start_time %}
              {{ detail("%s/%s_%d_%d_output_start" % (data_dir, series.series_name, pass_num, loop.index - 1),
                        msrmnt.output_event.start_time,
                        msrmnt.output_event.start_time - msrmnt.input_event.time,
                        msrmnt.output_event.EVENT_TYPE_NAME) }}
              {% endif %}

              <!-- Output Event -->
              {{ detail("%s/%s_%d_%d_output" % (data_dir, series.series_name, pass_num, loop.index - 1),
                        msrmnt.output_event.time,
                        msrmnt.output_event.time - msrmnt.input_event.time,
                        msrmnt.output_event.EVENT_TYPE_NAME) }}

            </tr>
            {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

{% endblock %}