  <mat-card>
    <mat-card-header>Configuration Information</mat-card-header>
    <mat-card-content layout-padding>
      <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
        <mat-list>
          <div class="listrow" flex-direction="row">
            <mat-list-item>

              <mat-form-field class="configuration-input">
                <input matInput required placeholder="Boto Key ID" [(ngModel)]="botoKeyId" name="botoKeyId" #botoKeyIdRef="ngModel">
              </mat-form-field>


              <mat-form-field class="configuration-input">
                <input matInput type="password" required password placeholder="Boto Key Secret" [(ngModel)]="botoKeySecret"
                       name="botoKeySecret">
              </mat-form-field>
            </mat-list-item>
          </div>
          <mat-list-item>
            <mat-form-field>
              <input matInput required class="configuration-input" placeholder="Image Storage Bucket URL"
                     [(ngModel)]="imageStorageUrl" name="imageStorageUrl">
            </mat-form-field>
            <a href={{imageStorageLink}} target="_blank">releases link</a>

            <a href={{resultsStorageLink}} target="_blank">results link</a>
          </mat-list-item>
          <mat-list-item>


          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button color="primary"
                    [disabled]="formRef.pristine"
                    type="submit">Submit Changes</button>
          </mat-list-item>
        </mat-list>
      </form>
    </mat-card-content>
  </mat-card>



  <div><p></p></div>
  <mat-card>
    <mat-card-header>Network Information</mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Server IP:</td><td>{{serverIp}}</td></tr>
        <tr><td>Connected to Internet:</td><td>{{isConnectedToInternet}}</td></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <div><p></p></div>


  <mat-card>
    <mat-card-header>Moblab Information</mat-card-header>
    <mat-card-content>
      <table>
        <tr><td>Version:</td><td>{{moblabVersion}}</td></tr>
        <tr><td>Track:</td><td>{{moblabTrack}}</td></tr>
        <tr><td>Description:</td><td>{{moblabDescription}}</td></tr>
        <tr><td>Moblab Id:</td><td>{{moblabId}}</td></tr>
        <tr><td>Moblab Mac Address:</td><td>{{moblabMacAddress}}</td></tr>
      </table>
    </mat-card-content>
  </mat-card>